$color-primary: hsl(218, 44%, 22%);
$color-secondary: hsl(220, 15%, 55%);
$color-tertiary:  hsl(0, 0%, 100%);
$color-quaternary: hsl(212, 45%, 89%);

$ff-base: 'Outfit', sans-serif;
$fs-base: 15px;
$fw-400: 400;
$fw-700: 700;