@import "reset.scss";
@import "variables.scss";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


html, body {
    background-color: $color-quaternary;
    font-size: $fs-base;
    font-family: $ff-base;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    box-sizing: border-box;
}

main {
    background-color: $color-tertiary;
    padding: 1em;
    border-radius: 20px;
    overflow: hidden;
    width: min(100% - 8vw, 320px);

    & article {
        display: flex;
        flex-direction: column;
        gap: 1.25em;

        & .image {
            border-radius: 10px;
            overflow: hidden;

            & img {
                display: block;
                width: 100%;
                height: auto;
            }
        }

        & .info {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: .5em 1em;

            & > * {
                margin-bottom: 1em;
            }

            & h2 {
                font-size: 1.4em;
                line-height: 1.1;
                font-weight: $fw-700;
                text-align: center;
                color: $color-primary;
            }

            & p {
                font-weight: $fw-400;
                text-align: center;
                color: $color-secondary;
            }
        }
    } 
}
